<div>
    <h3 class='title'>
      {{pageTitle}}
    </h3>

    <body>
      <div class="container">
        <div class="row">
          <a class="col-xs-3 col-sm-3 col-md-3 tile" routerLink='/citations'>
            <h3 class='tile-font'>Citations</h3>  
            <p class='fa fa-list text-center'></p>
          </a>
          <a class="col-xs-3 col-sm-3 col-md-3 tile" routerLink='/about'>
            <h3 class='tile-font'>About</h3>  
            <p class='fa fa-info-circle text-center'></p>
          </a>
        </div> 
      </div>
  </body>
</div>
  