.tile-font {
    color: white;
}

.tile {
    box-shadow: 5px 7px 7px 0px rgba(0,0,0,0.51);
    background:#085ce5;	
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    background: lightblue;
}

p {
    color: white;
}

.title {
    color: #203660;
    margin-top: 10px;
    margin-bottom: 20px;
}